fieldset.group {
    margin: 0;
    padding: 0;
    margin-bottom: 1.25em;
    padding: .125em;
}

    fieldset.group legend {
        margin: 0;
        padding: 0;
        font-weight: bold;
        margin-left: 0px;
        font-size: 100%;
        color: black;
    }


ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

    ul.checkbox li input {
        margin-right: .25em;
    }

    ul.checkbox li {
        border: 1px transparent solid;
        display: inline-block;
        width: 12em;
    }

        ul.checkbox li label {
            /*margin-left:;*/
        }

        ul.checkbox li:hover,
        ul.checkbox li.focus {
            /*background-color: lightyellow;*/
            /*border: 1px gray solid;*/
            width: 12em;
        }
