@model RefactorName.Web.Models.MciChart

@section Scripts
{
    @Scripts.Render("~/bundles/mcicharts")
}


@{
    Layout = Layout = "~/Views/Shared/_LayoutDemo.cshtml";
    ViewBag.Title = "Bar Chart";
}

<div class="panel panel-default">
    <div class="panel-heading">Bar Chart</div>
    <div class="panel-body">

        @using (Html.MCIBeginItemsRow())
        {
            @Html.MciChart(Model, MciChartType.BarChart, "divBarChart", 12, "400px")
        }

    </div>
</div>

