
@{
    Layout = Layout = "~/Views/Shared/_LayoutDemo.cshtml";
    LayoutModel.Title = "Breadcrumb";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="#">الرئيسية</a></li>
        <li><a href="#"> الخدمات الالكترونية </a></li>
        <li class="active">صفحة للخدمات الالكترونية</li>
    </ol>
}

<div class="panel panel-default">
    <div class="panel-heading">Breadcrumb</div>
    <div class="panel-body">
        -How to add Breadcrumb section
    </div>
</div>


