@{
    Layout = Layout = "~/Views/Shared/_LayoutDemo.cshtml";
    LayoutModel.Title = "SideMenu";
}

@section _SideBarCustomMenuItems
{
    <li>
        <a href='#'>
            <i class="glyphicon glyphicon-hdd"></i><span class="title">Additional menu item 1<span class="badge">42</span></span>
        </a>
    </li>

    <li>
        <a href='#'>
            <i class="glyphicon glyphicon-hdd"></i><span class="title">Additional menu item 2</span>
        </a>
    </li>
}




<div class="panel panel-default">
    <div class="panel-heading">Side Menu</div>
    <div class="panel-body">
        -How to add custom side menu items
    </div>
</div>


