<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-RefactorName.WebApp-20170108112026.mdf;Initial Catalog=aspnet-RefactorName.WebApp-20170108112026;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=workflowDBTest;Persist Security Info=True;User ID=workflow;Password=123" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ExceptionDevelopmentMode" value="true" />
    <add key="DbProvider" value="RefactorName.SqlServerRepository" />
    <add key="WebSvcProvider" value="RefactorName.ServicesRepository" />
    <add key="EncryptionKey" value="4BBD3A44513248490C657885C932A3D8637144DE0321FB97892BCBD436434C19" />
    <add key="EncryptionIV" value="FB4BF381051FB1B47AAF8AF296C3C150" />
    <add key="PreserveLoginUrl" value="true" />

    <!-- active Directory Auth-->
    <add key="APIKey" value="W8n5GN4WAwV8nXM8QMh9LK8f5lulqRdM" />
    <add key="ServiceUrl" value="https://eai_dev001.mci.gov.sa/SignleSignOnServices/3.0/test/Service.svc/rest/" />

    <!--Paging-->
    <add key="pageSize" value="10" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>