################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RefactorName/RefactorName.WebApp/App_Data
