
@font-face {
    font-family: "Midan";
    src: url('../fonts/Midan.eot');
    src: url('../fonts/Midan.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Midan.svg#Midan') format('svg'),
         url('../fonts/Midan.woff') format('woff'),
         url('../fonts/Midan.ttf') format('truetype');
}

@font-face {
    font-family: "Midan-Black";
    src: url('../fonts/Midan-Black.eot');
    src: url('../fonts/Midan-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Midan-Black.svg#Midan-Black') format('svg'),
         url('../fonts/Midan-Black.woff') format('woff'),
         url('../fonts/Midan-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
