@*<li>
    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i><span>&nbsp;&nbsp; الصفحة الرئيسية </span></a>
</li>*@

@*<li>
    <a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;الخدمات الإلكترونية <span class="arrow"></span></a>
    <div class="megamenu clearfix">

        <div class="row">

            <div class="col-md-3">

                <h5><a href="https://eservices.mci.gov.sa/Eservices/NewCustomsExemptionServices.aspx" target="_blank">خدمات الإعفاء الجمركي</a></h5>

                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://eind.mci.gov.sa/ECE/Login.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> نظام الاعفاء الجمركي </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/DutyFreeEnquiry.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستفسار عن قرارات الاعفاء الجمركي </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/DutyFreeAppStatus.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستفسار عن حالة طلب إعفاء جمركي </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/ExemptedItemsEnquery.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستعلام عن المواد الجمركية المعفاة </a></li>
                </ul>


                <h5><a href="http://eservices.mci.gov.sa/Eservices/NewManualFactories.aspx" target="_blank">دليل المصانع</a></h5>

                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://eind.mci.gov.sa/FSEU/login.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> تحديث بيانات المصانع</a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/FactoryStatusEnquiry.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px;  position:relative; top:1px;"></i> الاستعلام عن حالة مصنع </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/FactoryCardEnquiry.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> بطاقة المصنع الالكترونية </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/IndustrialDirectorySimple.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px;  position:relative; top:1px;"></i> معلومات المصنع </a></li>
                </ul>

            </div>

            <div class="col-md-3">
                <h5><a href="https://eservices.mci.gov.sa/Eservices/NewCRServices.aspx" target="_blank">خدمات السجل التجاري</a></h5>

                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://ecr.mci.gov.sa"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> حجز اسم تجاري الكترونيا</a></li>
                    <li><a target="_blank" href="http://ecr.mci.gov.sa"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> اصدار سجل تجاري الكترونيا</a></li>
                    <li><a target="_blank" href="http://ecr.mci.gov.sa"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> تجديد سجل تجاري الكترونيا</a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Commerce/CommercialRegisterGenralEnquiry_COM.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستفسار عن معلومات عامة لسجل تجاري لشركة </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Commerce/CommercialRegisterGenralEnquiry_est.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستفسار عن معلومات عامة لسجل تجاري  لمؤسسة فردية </a></li>
                </ul>

                <h5><a href="http://eservices.mci.gov.sa/Eservices/NewIndustrialLicenseServies.aspx" target="_blank">التراخيص الصناعية</a></h5>

                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/IndustrialLicense.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الإستفسار عن التراخيص الصناعية لمدة سنة </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/NewIndLicRequestEnquiry.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الإستعلام عن رقم طلب ترخيص صناعي جديد </a></li>
                    <li><a target="_blank" href="http://eind.mci.gov.sa/MP/login.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> طلب تأييد العمالة </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Industry/WorkersstatuesbyReqYear.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستعلام عن طلب تأييد عمالة </a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5><a href="http://eservices.mci.gov.sa/Eservices/NewSpecialLaboratoriesLicenseServices.aspx" target="_blank">تراخيص المختبرات الخاصة</a></h5>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Commerce/LaboratoriesFinalLicenseEnquiry.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستعلام عن التراخيص النهائية للمختبرات  الخاصة </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Commerce/LaboratoriesInitialLicenseEnquiry.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستعلام عن التراخيص المبدئية للمختبرات  الخاصة </a></li>
                    <li><a target="_blank" href="http://eservices.mci.gov.sa/Eservices/Commerce/FinalLaboratorylicenseDetails.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i> الاستعلام عن التراخيص النهائية للمختبرات الخاصة والمستعان بها </a></li>
                </ul>

                <h5><a href="https://eservices.mci.gov.sa/Eservices/NewConsumerAffairs_AgencyServices.aspx" target="_blank">شؤون المستهلك</a></h5>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://eservices.mci.gov.sa/Eservices/Commerce/CommercialFraudForm.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>الإبلاغ عن حالة غش تجاري</a></li>
                    <li><a target="_blank" href="http://eind.mci.gov.sa/Inspectors/UserQuery.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>الاستفسار عن معلومات مخالفة تجارية</a></li>
                    <li><a target="_blank" href="http://cpi.mci.gov.sa/cpi/default.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>مؤشر السلع الإستهلاكية</a></li>
                    <li><a target="_blank" href="http://eind.mci.gov.sa/CCRI/ApplicantRequest.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>الاستعلام عن طلب فسح كيميائي لأغراض التجارة</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5><a href="https://eservices.mci.gov.sa/Eservices/NewOtherTradeMark.aspx" target="_blank">العلامات التجارية</a></h5>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://tm.mci.gov.sa/"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>خدمة العلامات التجارية</a></li>
                    <li><a target="_blank" href="https://eservices.mci.gov.sa/Eservices/Commerce/Trademarks.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>النشر الإلكتروني للعلامات التجارية</a></li>
                    <li><a target="_blank" href="https://eservices.mci.gov.sa/Eservices/Commerce/TrademarkByID.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>البحث برقم علامة</a></li>
                    <li><a target="_blank" href="https://eservices.mci.gov.sa/Eservices/Commerce/TradeMarkReqInfoByDeptNo.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>الاستفسار عن حالة طلب علامة تجارية</a></li>
                </ul>

                <h5><a href="https://eservices.mci.gov.sa/Eservices/NewOtherServices.aspx" target="_blank">خدمات أخرى</a></h5>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://eind.mci.gov.sa/AP"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>إصدار ترخيص مهني استشاري</a></li>
                    <li><a target="_blank" href="http://co.mci.gov.sa/"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>اصدار شهادة المنشأ</a></li>
                    <li><a target="_blank" href="http://eind.mci.gov.sa/fus"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>بيان المتابعة</a></li>
                    <li><a target="_blank" href="https://eservices.mci.gov.sa/Eservices/Commerce/CommericalExhibitionsDirectory2.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>البحث في دليل المعارض</a></li>
                    <li><a target="_blank" href="https://eservices.mci.gov.sa/Eservices/Commerce/SponsorsPlans.aspx"><i class="glyphicon glyphicon-chevron-right" style="font-size:10px; position:relative; top:1px;"></i>الإستعلام عن خطط منظمي المعارض</a></li>
                </ul>
            </div>

        </div>

    </div>
</li>*@