<li>
    <a href="http://www.mci.gov.sa" class="e-serv-link" target="_blank"> &nbsp; الصفحة الرئيسية  </a>
</li>
<li class="dropdown mega-dropdown">
    <a href="http://eservices.mci.gov.sa/Eservices/Default.aspx" target="_blank" class="dropdown-toggle e-serv-link" data-toggle="dropdown"> &nbsp; خدماتنا  <b class="caret"></b></a>
    <ul class="dropdown-menu mci-color" style="width:100%">
        <li>
            <div class="yamm-content">
                <div class="row">
                    <div class="col-md-3">
                        <h4>خدمات السجل التجاري<small><a href="https://eservices.mci.gov.sa/Eservices/NewCRServices.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://ecr.mci.gov.sa" target="_blank">حجز اسم تجاري الكترونيا</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://ecr.mci.gov.sa" target="_blank">اصدار سجل تجاري الكترونيا</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://ecr.mci.gov.sa" target="_blank">تجديد سجل تجاري الكترونيا</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://ecr.mci.gov.sa" target="_blank">الاستفسار عن سجل تجاري لشركة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://ecr.mci.gov.sa" target="_blank">الاستفسار عن سجل تجاري لمؤسسة فردية</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>خدمات الإعفاء الجمركي <small><a href="https://eservices.mci.gov.sa/Eservices/NewCustomsExemptionServices.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/ECE/Login.aspx" target="_blank">نظام الاعفاء الجمركي</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/DutyFreeEnquiry.aspx" target="_blank">الاستفسار عن قرارات الاعفاء الجمركي</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/DutyFreeAppStatus.aspx" target="_blank">الاستفسار عن طلب إعفاء جمركي</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/ExemptedItemsEnquery.aspx" target="_blank">الاستعلام عن المواد الجمركية المعفاة</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>دليل المصانع <small><a href="http://eservices.mci.gov.sa/Eservices/NewManualFactories.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/FSEU/login.aspx" target="_blank">تحديث بيانات المصانع</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/FactoryStatusEnquiry.aspx" target="_blank">الاستعلام عن حالة مصنع</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/FactoryCardEnquiry.aspx" target="_blank">بطاقة المصنع الالكترونية</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/IndustrialDirectorySimple.aspx" target="_blank">معلومات المصنع</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>التراخيص الصناعية <small><a href="http://eservices.mci.gov.sa/Eservices/NewIndustrialLicenseServies.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/IndustrialLicense.aspx" target="_blank">الإستفسار عن التراخيص الصناعية لمدة سنة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/NewLicenseRequestEnquiry.aspx" target="_blank">الإستعلام عن طلب ترخيص جديد</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/MP/login.aspx" target="_blank">طلب تأييد العمالة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Industry/WorkersstatuesbyReqYear.aspx" target="_blank">الاستعلام عن طلب تأييد عمالة</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h4>تراخيص المختبرات الخاصة <small><a href="http://eservices.mci.gov.sa/Eservices/NewSpecialLaboratoriesLicenseServices.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Commerce/LaboratoriesFinalLicenseEnquiry.aspx" target="_blank">الاستعلام عن التراخيص النهائية للمختبرات الخاصة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Commerce/LaboratoriesInitialLicenseEnquiry.aspx" target="_blank">الاستعلام عن التراخيص المبدئية للمختبرات الخاصة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eservices.mci.gov.sa/Eservices/Commerce/FinalLaboratorylicenseDetails.aspx" target="_blank">الاستعلام عن التراخيص النهائية للمختبرات الخاصة والمستعان بها</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>شؤون المستهلك <small><a href="https://eservices.mci.gov.sa/Eservices/NewConsumerAffairs_AgencyServices.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="https://eservices.mci.gov.sa/Eservices/Commerce/CommercialFraudForm.aspx" target="_blank">الإبلاغ عن حالة غش تجاري</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/Inspectors/UserQuery.aspx" target="_blank">الاستفسار عن معلومات مخالفة تجارية</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://cpi.mci.gov.sa/cpi/default.aspx" target="_blank">مؤشر السلع الإستهلاكية</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/CCRI/ApplicantRequest.aspx" target="_blank">الاستعلام عن طلب فسح كيميائي لأغراض التجارة </a></li>
                        </ul>
                    </div>


                    <div class="col-md-3">
                        <h4>العلامات التجارية <small><a href="https://eservices.mci.gov.sa/Eservices/NewOtherTradeMark.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://tm.mci.gov.sa/" target="_blank">خدمة العلامات التجارية </a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="https://eservices.mci.gov.sa/Eservices/Commerce/Trademarks.aspx" target="_blank">النشر الإلكتروني للعلامات التجارية</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="https://eservices.mci.gov.sa/Eservices/Commerce/TrademarkByID.aspx" target="_blank">البحث برقم علامة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="https://eservices.mci.gov.sa/Eservices/Commerce/TradeMarkReqInfoByDeptNo.aspx" target="_blank">الاستفسار عن حالة طلب علامة تجارية</a></li>
                        </ul>
                    </div>


                    <div class="col-md-3">
                        <h4>خدمات أخرى <small><a href="https://eservices.mci.gov.sa/Eservices/NewOtherServices.aspx" target="_blank">كل الخدمات</a></small></h4>
                        <hr>
                        <ul class="unstyled">
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/AP" target="_blank">إصدار ترخيص مهني استشاري</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://co.mci.gov.sa/" target="_blank">اصدار شهادة المنشأ</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="http://eind.mci.gov.sa/fus" target="_blank">بيان المتابعة</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="https://eservices.mci.gov.sa/Eservices/Commerce/CommericalExhibitionsDirectory2.aspx" target="_blank">البحث في دليل المعارض</a></li>
                            <li><i class="glyphicon glyphicon-chevron-left"></i><a href="https://eservices.mci.gov.sa/Eservices/Commerce/SponsorsPlans.aspx" target="_blank">الإستعلام عن خطط منظمي المعارض</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>

<li>
    <a href="http://eservices.mci.gov.sa/Eservices/Verification/PageVerify.aspx" class="e-serv-link" target="_blank"> &nbsp; خدمة التحقق من الوثائق  </a>
</li>

<li>
    <a href="http://mci.gov.sa/LawsRegulations/Pages/default.aspx" class="e-serv-link" target="_blank">&nbsp; الأنظمة و اللوائح&nbsp;</a>
</li>



