@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">عملية غير شرعية.</h1>
<h2 class="text-danger">لقد قمت بعملية غير شرعية داخل النظام.</h2>
<p><b>إذا كنت تعتقد أن العملية شرعية الرجاء الاتصال بمدير النظام لحل المشكلة. وشكراً.</b></p>

